{% extends "base.html" %}
{% block title %}Add DOIs{% endblock %}
{% block content %}
{% comment %} <link href="/static/css/new_publication.css" rel="stylesheet"> {% endcomment %}
<h5>Enter a list of DOIs, one per line.</h5>
<h5>After clicking submit, you will be presented with a series of autofilled forms to verify and submit.</h5>
<div class="form-container">
    <form method="POST">
        {% csrf_token %}
        {% for field in doi_batch_form %}
            {{field}}
        {% endfor %}
        <br>
        <button class="btn btn-primary center-block" type="submit">Submit</button>
    </form>
</div>
{% comment %} <script type="text/javascript" src="/static/js/doi.js"></script> {% endcomment %}

{% endblock %}
