{% extends "base.html" %}
{% block title %} Advanced Search {% endblock %}
{% block extra_headers %} 
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
        integrity="sha256-I4gvabvvRivuPAYFqevVhZl88+vNf2NksupoBxMQi04="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/advanced_search.css">
{% endblock %}

{% block content %}
<form action="/advanced_search" method="post">
    {% csrf_token %}
    <div class="panel panel-default">
        <div class="panel-heading md-font">
            Publication Details
        </div>
        <div class="panel-body">
            <div class="form-group col-md-2">
                {{form.doi.label_tag}}{{form.doi}}
            </div>
            <div class="form-group col-md-2">
                {{form.title.label_tag}}{{form.title}}
            </div>
            <div class="form-group col-md-2">
                {{form.author.label_tag}}{{form.author}}
            </div>
            <div class="form-group col-md-2">
                {{form.date_start.label_tag}}{{form.date_start}}
            </div>
            <div class="form-group col-md-2">
                {{form.date_end.label_tag}}{{form.date_end}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="program_list" class="panel panel-default inline-checkboxes">
                    <div class="panel-heading">
                        <span class="md-font">Programs</span>
                    </div>
                <div class="panel-body">
                    {% for field in form.program %}
                        {{field}}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="project_list" class="panel panel-default inline-checkboxes">
                    <div class="panel-heading">
                        <span class="md-font">Projects</span>
                    </div>
                <div class="panel-body">
                    {% for field in form.project %}
                        {{field}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div id="meta-panel" class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="md-font">Meta Tags</span><span class="pull-right form-inline"><label>Filter: <input type="text" id="meta-filter" class="form-control"></label></span>
        </div>
        <div class="panel-body">
            <div class="meta-form-list col-md-4 well form-group"><label>Experiment: </label>{{ form.experiment }}</div>
            <div class="meta-form-list col-md-4 well"><label>Frequency: </label>{{ form.frequency }}</div>
            <div class="meta-form-list col-md-4 well"><label>Keyword: </label>{{ form.keyword }}</div>
            <div class="meta-form-list col-md-6 well"><label>Model: </label>{{ form.model }}</div>
            <div class="meta-form-list col-md-6 well"><label>Variable: </label>{{ form.variable }}</div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-primary text-center" type="submit">Search</button>
        <span id="result-count-wrapper" class="md-font"> Results: <span id="result-count"></span> </span>
    </div>
</form>
<script type="text/javascript" src="/static/js/advanced_search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
    integrity="sha256-TueWqYu0G+lYIimeIcMI8x1m14QH/DQVt4s9m/uuhPw="
    crossorigin="anonymous"></script>
{% endblock %}