{% extends "base.html" %}
{% block title %}edit{% endblock %}
{% block content %}
{% load my_json %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="pub_type" value="{{ pub_type }}">
    {% include "snippets/publicationForm.html" %}
    <div class="panel panel-default">
    <div class="panel-heading"><span class="md-font">Publication Details</span></div>
    <div class="panel-body">
        {{ media_form }}
      </div>
    </div>
    {% include 'snippets/authorForm.html' %}
    {% include 'snippets/metaForm.html' %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script type="text/javascript">
    ensemble = JSON.parse({{ ensemble_data|my_json|safe }});
    {# example ensemble: [[1,1], [2,5], [3,1]] #}
    {# where 1,2,3 are experiment id's and 1,5,1 are ensemble values #}
</script>
<script type="text/javascript" src="/static/js/editform.js"></script>
<script type="text/javascript" src="/static/js/authorform.js"></script>
<link href="/static/css/new_publication.css" rel="stylesheet">
{% endblock %}