{% extends "base.html" %}
{% block title %}edit{% endblock %}
{% block content %}
{% load my_json %}
<link href="/static/css/new_publication.css" rel="stylesheet">
<div class="row margin-b">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" id="doi-field" placeholder="doi:">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="doisearch()">Search</button>
                </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<div id="loading" class="text-center">
    <br>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
    <span class="sr-only">Loading...</span>
</div>

<div class="warning-message"></div>

<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="pub_type" value="{{ pub_type }}">
    {% if invalid_form %}
    <div class="container-fluid alert alert-danger">
        Required information, marked by an "*", is missing below.
    </div>
    {% else %}
    <div class="container-fluid alert alert-info">
        Fields marked with "*" are required.
    </div>
    {% endif %}
    <div id="journal-warning"></div>
    {% include "snippets/publicationForm.html" %}
    <div class="panel panel-default">
        <div class="panel-heading"><span class="md-font">Publication Details</span></div>
        <div class="panel-body">
            <div id="journal-info">
                <div class="alert alert-info">
                If the journal publishing your article is not found in the list, 
                then please submit an issue to our <a href="https://github.com/aims-group/publication-site/issues/">GitHub Issues</a> page
                with the title: <b>"Please add journal named: <i>journal name</i>."</b>
                </div>
            </div>
            {% for field in media_form %}
                {% if field.field.required %}
                    <div class="required">
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                    </div>
                {% else %}
                    <div>
                    {{ field.label_tag }}
                    {{ field.errors }}
                    {{ field }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'snippets/authorForm.html' %}
    {% include 'snippets/projectForm.html' %}
    {% include 'snippets/metaForm.html' %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<script type="text/javascript" src="/static/js/editform.js"></script>

{% endblock %}