<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <h4>
        <b>
            This site will be down on Wednesday, February 12, 2020 from 1 PM to 3 PM PST for site upgrades.  <br>
            Apologies in advance for any inconvenience.
        </b>
        </h4>
    </div>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img id="nav-logo" class="img-responsive" src="/static/img/PubHubLogoNav.png" alt="logo" />
                Publication Hub
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/new">Submit</a></li>
                <li><a href="/review">Edit</a></li>
               <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">View <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for option in nav_options %}
                    <li><a href="/view/{{option}}">{{option}}</a></li>
                    {% endfor %}
                </ul>
              </li>
              <li><a href="/advanced_search">Search</a></li>
                {% if user.is_superuser %}
                    <li><a href="/admin">Admin</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if dois_pending %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pending <span class="badge">{{dois_pending_count}}</span> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                            <li><a href="/review/?show_pending=true">View Pending Items</a></li>
                        <li><a href="/process_dois/">Process Pending Items</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                    <li><a href="/accounts/login">Login</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>