{% extends "base.html" %}
{% load static %}
{% block title %}New Publication{% endblock %}
{% block content %}
<link href="{% static 'css/new_publication.css' %}" rel="stylesheet">
{% if batch == True %}
    <input id="batch_doi" type="text" value="{{batch_doi}}" style="display: none;">
{% endif %}
<div class="form-container">
    <div class="row">
        <div class="col-lg-6 margin-b">
            <div class="input-group">
                <input type="text" class="form-control" id="doi-field" placeholder="doi:">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="doisearch()">Search</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/add_dois">Add Many Publications</a></li>
                    </ul>   
                    <button class ="btn btn-default" type="button" onclick="doisearch(true)"> Show Form</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        {% if batch == True%}
            <div id="batch-alert-wrapper" class="col-lg-6">
                <div id="batch-alert" class="container-fluid alert alert-info">
                    Verify details for <span id="batch-alert-text">{{batch_doi}}</span>
                    <span>or <a href="/skip_doi/" style="font-weight: 500;">skip it for now</a></span>
                </div>
            </div><!-- /.col-lg-6 -->
        {% endif %}
    </div><!-- /.row -->
    <div id="loading" class="text-center">
        <br>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <div id="publication-form-wrapper" class="hidden">
        {% include "site/publication_details.html" %}
    </div>
</div>
<script type="text/javascript" src="{% static 'js/doi.js' %}"></script>

{% endblock %}
