{% if message %}
<div class="doi-error">{{ message }}</div>
{% endif %}
<div id="tabs">
    <ul class="nav nav-tabs">
        <li class="active" role="presentation"><a href="#tabs-1">Book</a></li>
        <li role="presentation"><a href="#tabs-2">Conference</a></li>
        <li role="presentation"><a href="#tabs-3">Journal</a></li>
        <li role="presentation"><a href="#tabs-4">Magazine</a></li>
        <li role="presentation"><a href="#tabs-5">Poster</a></li>
        <li role="presentation"><a href="#tabs-6">Presentation</a></li>
        <li role="presentation"><a href="#tabs-7">Technical_Report</a></li>
        <li role="presentation"><a href="#tabs-8">Other</a></li>
    </ul>
    <div id="tabs-1">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.doi.label}}">{{form.doi.label}}</span>
            {{ form.doi }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.doi.errors }}
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.isbn.label}}">{{form.isbn.label}}</span>
            {{ form.isbn }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.isbn.errors }}
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.title.label}}">{{form.title.label}}</span>
            {{ form.title }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.title.errors }}
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.url.label}}">{{form.url.label}}</span>
            {{ form.url }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.url.errors }}
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.page.label}}">{{form.page.label}}</span>
            {{ form.page }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.page.errors }}
        </div>
        {% endif %}
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon-{{form.publisher.label}}">{{form.publisher.label}}</span>
            {{ form.publisher }}
        </div>
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.publisher.errors }}
        </div>
        {% endif %}
    </div>
    <div id="tabs-2">
        <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc.
            Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut
            tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam.
            Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc.
            Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat,
            tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris
            consectetur tortor et purus.</p>
    </div>
    <div id="tabs-3">
        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula
            accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel
            enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium
            nec, feugiat nec, luctus a, lacus.</p>
        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla
            facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec
            mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam
            scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor,
            tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo.
            Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
    </div>
</div>

<div id="meta-form">
    <form>
        <div class="row"></div>
        <div class="col-md-4 form-group">
            <div class="text-center">Experiment</div>
            <div class="checkbox well well-sm">
                <label>{{form.onepctCO2}}
                {{form.onepctCO2.label}}</label><br>
                <label>{{form.abrupt4xCO2}}
                {{form.abrupt4xCO2.label}}</label><br>
                <label>{{form.amip}}
                {{form.amip.label}}</label><br>
                <label>{{form.amip4K}}
                {{form.amip4K.label}}</label><br>
                <label>{{form.amip4xCO2}}
                {{form.amip4xCO2.label}}</label><br>
                <label>{{form.amipFuture}}
                {{form.amipFuture.label}}</label><br>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="text-center">Model & Ensemble</div>
            <div class="checkbox well well-sm">
                <label>{{form.ACCESS1_0}}
                {{form.ACCESS1_0.label}}</label><br>
                <label>{{form.ACCESS1_3}}
                {{form.ACCESS1_3.label}}</label><br>
                <label>{{form.BCC_CSM1_1}}
                {{form.BCC_CSM1_1.label}}</label><br>
                <label>{{form.BCC_CSM1_1_m}}
                {{form.BCC_CSM1_1_m.label}}</label><br>
                <label>{{form.BESM_OA2_3}}
                {{form.BESM_OA2_3.label}}</label><br>
                <label>{{form.BNU_ESM}}
                {{form.BNU_ESM.label}}</label><br>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="text-center">Frequency</div>
            <div class="checkbox well well-sm">
                <label>{{form.threehourly}}
                {{form.threehourly.label}}</label><br>
                <label>{{form.sixhourly}}
                {{form.sixhourly.label}}</label><br>
                <label>{{form.ClimatologyMonthlyMean}}
                {{form.ClimatologyMonthlyMean.label}}</label><br>
                <label>{{form.Daily}}
                {{form.Daily.label}}</label><br>
                <label>{{form.Fixed}}
                {{form.Fixed.label}}</label><br>
                <label>{{form.Monthly}}
                {{form.Monthly.label}}</label><br>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="text-center">Variable</div>
            <div class="checkbox well well-sm">
                <label>{{form.airpressureatcloudtop}}
                {{form.airpressureatcloudtop.label}}</label><br>
                <label>{{form.airpressureatconvectivecloudbase}}
                {{form.airpressureatconvectivecloudbase.label}}</label><br>
                <label>{{form.airpressureatconvectivecloudtop}}
                {{form.airpressureatconvectivecloudtop.label}}</label><br>
                <label>{{form.airpressureatsealevel}}
                {{form.airpressureatsealevel.label}}</label><br>
                <label>{{form.airtemperature}}
                {{form.airtemperature.label}}</label><br>
            </div>
        </div>
        <div class="col-md-4 form-group">
            <div class="text-center">Keyword</div>
            <div class="checkbox well well-sm">
                <label>{{form.Abruptchange}}
                {{form.Abruptchange.label}}</label><br>
                <label>{{form.Acidification}}
                {{form.Acidification.label}}</label><br>
                <label>{{form.Adaptation}}
                {{form.Adaptation.label}}</label><br>
                <label>{{form.Aerosols}}
                {{form.Aerosols.label}}</label><br>
                <label>{{form.Agriculture}}
                {{form.Agriculture.label}}</label><br>
                <label>{{form.AMO}}
                {{form.AMO.label}}</label><br>
            </div>
        </div>
    </form>
</div>

<script>
    $(function() {$( "#tabs" ).tabs();} );
    $('#tabs a').click(function( event ) {
    $('#tabs .active').removeClass('active');
    $(event.target).parent().addClass('active');
    });
</script>
