{% load my_json %}

<div class="warning-message"></div>

<form action="{% url 'search' %}new" method="post">
    {% csrf_token %}
    {% if invalid_form %}
    <div class="container-fluid alert alert-danger">
        Required information, marked by an "*", is missing below.
    </div>
    {% else %}
    <div class="container-fluid alert alert-info">
        Fields marked with "*" are required.
    </div>
    {% endif %}
    <div id="journal-warning"></div>
    {% include "snippets/publicationForm.html" %}
    {% include "snippets/authorForm.html" %}
    <div id="tabs" class="panel panel-default">
        <div class="panel-heading">
            <input id="pub_type" type="hidden" name="pub_type" value="Book">
            {% if batch_doi_id > 0 %}
                <input id="batch_doi_id" type="hidden" name="batch_doi_id" value={{batch_doi_id}}>
            {% endif %}
            <ul class="nav nav-tabs">
                <li class="active" role="presentation"><a href="#tabs-1">Book</a></li>
                <li role="presentation"><a href="#tabs-2">Conference</a></li>
                <li role="presentation"><a href="#tabs-3">Journal</a></li>
                <li role="presentation"><a href="#tabs-4">Magazine</a></li>
                <li role="presentation"><a href="#tabs-5">Poster</a></li>
                <li role="presentation"><a href="#tabs-6">Presentation</a></li>
                <li role="presentation"><a href="#tabs-7">Technical Report</a></li>
                <li role="presentation"><a href="#tabs-8">Other</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div id="tabs-1">
                <div class="required">
                {% for field in book_form %}
                    {% if field.field.required %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div id="book-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                    {% for field in book_form %}
                        {% if not field.field.required %}
                        <div>
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tabs-2">
                <div class="required">
                {% for field in conference_form  %}
                    {% if field.field.required %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div id="conference-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                    {% for field in conference_form  %}
                        {% if not field.field.required %}
                        <div>
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tabs-3">
                <div id="journal-info">
                    <div class="alert alert-info">
                    If the journal publishing your article is not found in the list, 
                    then please submit an issue to our <a href="https://github.com/aims-group/publication-site/issues/">GitHub Issues</a> page
                    with the title: <b>"Please add journal named: <i>journal name</i>."</b>
                    </div>
                </div>
                <div class="required">
                {{ journal_form.journal_name.label_tag }}
                {{ journal_form.journal_name.errors }}
                {{ journal_form.journal_name }}
                </div>
                <div id="journal-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                        <div>
                        {{ journal_form.volume_number.label_tag }}
                        {{ journal_form.volume_number.errors }}
                        {{ journal_form.volume_number }}
                        </div>
                        <div>
                        {{ journal_form.article_number.label_tag }}
                        {{ journal_form.article_number.errors }}
                        {{ journal_form.article_number}}
                        </div>
                        <div>
                        {{ journal_form.start_page.label_tag }}
                        {{ journal_form.start_page.errors }}
                        {{ journal_form.start_page }}
                        </div>
                        <div>
                        {{ journal_form.end_page.label_tag }}
                        {{ journal_form.end_page.errors }}
                        {{ journal_form.end_page }}
                        </div>
                    </div>
                </div>
            </div>
            <div id="tabs-4">
                <div class="required">
                {% for field in magazine_form  %}
                    {% if field.field.required %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div id="magazine-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                    {% for field in magazine_form  %}
                        {% if not field.field.required %}
                        <div>
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tabs-5">
                <div class="required">
                {% for field in poster_form  %}
                    {% if field.field.required %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div id="poster-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                    {% for field in poster_form  %}
                        {% if not field.field.required %}
                        <div>
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tabs-6">
                <div class="required">
                    {{ presentation_form }}
                </div>
            </div>
            <div id="tabs-7">
                <div class="required">
                {% for field in technical_form  %}
                    {% if field.field.required %}
                        {{ field.label_tag }}
                        {{ field.errors }}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                </div>
                <div id="technical-optional-inputs" class="optional-inputs">
                    <h5 class="btn btn-sm btn-info">Optional Info</h5>
                    <div class="well well-sm">
                    {% for field in technical_form  %}
                        {% if not field.field.required %}
                        <div>
                            {{ field.label_tag }}
                            {{ field.errors }}
                            {{ field }}
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div id="tabs-8">
                <div class="required">
                    {{ other_form }}
                </div>
            </div>
        </div>
    </div>
    {% include 'snippets/projectForm.html' %}
    {% include "snippets/metaForm.html" %}
</form>

<div class="text-center">
    <button class="submit-form btn btn-primary" onclick="submitPublication()">Submit</button>
</div>

