{% extends "base.html" %}
{% block title %}Review Publications{% endblock %}
{% block content %}




<div class="container-fluid">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{%if not show_pending%}active{%endif%}"><a href="#publications" aria-controls="home" role="tab" data-toggle="tab">Publications</a></li>
        <li role="presentation" class="{%if show_pending%}active{%endif%}"><a href="#pending-publications" aria-controls="pending-publications" role="tab" data-toggle="tab">Pending Publications</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade {%if not show_pending%}in active{%endif%}" id="publications">
            <!-- Publication Tab content -->
            {% if error %}
            <div class="alert alert-warning" role="alert">{{error}}</div>
            {% endif %}
            
            {% if message %}
            <div class="alert alert-info" role="alert">{{message|safe}}</div>
            {% endif %}
            
            {% if publications %}
            <div>
                <div class="panel panel-default">
                    <table class="table table-hover">
                        <tbody>
                        {% for pub in publications %}
                        <tr>
                            <td>
                                <a href="{% url 'search' %}edit/{{pub.id}}">{{pub}}</a>
                            </td>
                            <td class="text-right text-nowrap">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="delete-type" name="delete-type" value="publication">
                                    <input type="hidden" id="delete-id" name="delete-id" value="{{pub.id}}">
                                    <button type="submit" class="btn btn-xs btn-danger" role="button" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            <!-- End Publication Tab content -->
        </div>
        <div role="tabpanel" class="tab-pane fade {%if show_pending%}in active{%endif%}" id="pending-publications">
            <!-- Pending Tab content -->
            {% if pending_message %}
            <div class="alert alert-info" role="alert">{{pending_message|safe}}</div>
            {% endif %}
            {% if pending_dois %}
            <div>
                <div class="panel panel-default">
                    <table class="table table-hover">
                        <tbody>
                        {% for pending in pending_dois %}
                        <tr>
                            <td>
                                <span>{{pending.doi}}</span>
                            </td>
                            <td class="text-right text-nowrap">
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" id="delete-type" name="delete-type" value="doi">
                                    <input type="hidden" id="delete-id" name="delete-id" value="{{pending.id}}">
                                    <button type="submit" class="btn btn-xs btn-danger" role="button" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <form method="post" onsubmit="return confirm('This will delete all pending submissions. Are you sure?')">
                    {% csrf_token %}
                    <input type="hidden" id="delete-type" name=delete-type value="all-doi">
                    <button class="btn btn-danger pull-right">Remove All</button>
                </form>
            </div>
            {% endif %}
            <!-- End Pending Tab content -->
        </div>
    </div>
</div>
{% endblock %}