{% extends "base.html" %}
{% block title %}Review Publications{% endblock %}
{% block content %}

{% if error %}
<div class="alert alert-warning" role="alert">{{error}}</div>
{% endif %}

{% if message %}
<div class="alert alert-info" role="alert">{{message|safe}}</div>
{% endif %}

{% if entries %}
<div class="container">
    <div class="panel panel-default">
        <table class="table table-hover">
            <tbody>
            {% for entry in entries %}
            <tr>
                <td>
                    <a href="/edit/{{entry.id}}">{{entry}}</a>
                </td>
                <td class="text-right text-nowrap">
                    <a class="btn btn-xs btn-danger" href="/delete/{{entry.id}}" role="button" title="Delete">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
{% endblock %}