{% extends "base.html" %}
{% block title %} search {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/search.css">
<h1>{{ type.title }}: {{ option }}</h1><hr>

<div class="publication-container col-sm-9">


    <div class="row">
        <div class="col-md-2"><h4 id="year-published">Published</h4></div>
        <div class="col-md-9"><h4>Title</h4></div>
        <div class="col-md-1"><h4>Type</h4></div>
    </div>

    {% if publications %}
        {% for publication in publications %}
            <div class="publication">
            <div class="row">
                <div class="date col-md-2">{{ publication.publication_date|date:"Y" }} </div>
                <div class="col-md-9">
                    {{ publication.title }}<br/>
                        (<a onclick="show_citation({{ publication.id }})" href="javascript:void(0)">Citation</a>)
                        (<a onclick="show_more_info({{ publication.id }})" href="javascript:void(0)">More Info</a>)
                        <div id="citation{{ publication.id }}" style="display:none">empty</div>
                        <div id="more_info{{ publication.id }}"style="display:none">empty</div>
                </div>
            <div class="col-md-1">{{ publication.get_publication_type_display }} </div>

            </div>
            <hr>
                </div>
        {% endfor %}
    {% else %}
        <p>No publications found.</p>
    {% endif %}
</div>

<div class="col-sm-3 well">
    <h5> Publication Count: {{ total }}</h5>
    {% if type == "all" %}
        <ul>
            {% for k, v in pages.items %}
                <li><a href="search?type={{ k }}"> {{ v }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <table class="table">
            {% for k, v in pages.items %}
<tr><td><a href="search?type={{ v.type }}&option={{ v.options }}">{{ v.options }}</a></td><td>{{ v.count }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

<div class="test"></div>

<script type="text/javascript" src="/static/js/search.js"></script>

{% endblock %}