{% extends "base.html" %}
{% load static %}
{% block title %} Statistics {% endblock %}

{% block content %}
<div class="container-fluid text-center">
    <iframe id="network-graph" src="{% url 'search' %}network-graph" scrolling="no"></iframe>
    <a href="{% url 'search' %}network-graph">Full Screen</a>
</div>
<div class="container-fluid">
    <h3 id="click-id" ></h3>
    <ul id="click-stats" class="list-group"></ul>

</div>
<link href="{% static 'css/statistics.css' %}" rel="stylesheet">
<script src="{% static 'js/bind.js' %}"></script>
<script src="{% static 'js/statistics.js' %}"></script>

{% endblock %}