{% extends "base.html" %}
{% block title %} {{test}} {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/search.css">
<div id="search-controls">
    <button id="search-toggle" class="btn btn-sm btn-info" style=""><i class="glyphicon glyphicon-search"></i></button>
    {% if type == 'search'%}
    <a id="show-citations"
       class="btn btn-sm btn-info"
       href="/search?type={{type}}&year={{search_year}}&author={{search_author}}&title={{search_title}}&display=citations"
       target="_blank">Show Citations</a>
       <a id="show-bibtex"
       class="btn btn-sm btn-info"
       href="/search?type={{type}}&year={{search_year}}&author={{search_author}}&title={{search_title}}&display=bibtex"
       target="_blank">Show BibTex</a>
    {% else %}
    <a id="show-citations"
       class="btn btn-sm btn-info"
       href="/search?type={{type}}&option={{option}}&display=citations"
       target="_blank">Show Citations</a>
       <a id="show-bibtex"
       class="btn btn-sm btn-info"
       href="/search?type={{type}}&option={{option}}&display=bibtex"
       target="_blank">Show BibTex</a>
    {% endif %}
</div>
<div id="search-container" style="{{hide_search|default:''}}" class="row">
    <div id="search-wrapper">
        <form action="/search" method="GET">
            <input type="hidden" name="type" value="search">
            <div class="form-group col-xs-2 col-md-2">
                <label for="year-search" class="control-label text-center">Year</label>
                <input type="text" value="{{search_year|default:''}}" class="form-control" id="year-search" name="year">
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label for="author-search" class="control-label text-center">Author</label>
                <input type="text" value="{{search_author|default:''}}" class="form-control" id="author-search" name="author">
            </div>
            <div class="form-group col-xs-4 col-md-4">
                <label for="title-search" class="control-label text-center">Title</label>
                <input type="text" value="{{search_title|default:''}}" class="form-control" id="title-search" name="title">
            </div>
            <div class="form-group col-xs-2 col-md-2">
                <label for="go-search" class="control-label text-center">&nbsp;</label>
                <button type="submit" class="form-control btn btn-primary" id="go-search">Go</button>
            </div>
        </form>
    </div>
</div>
<div class="" id="search-row">
    {% if type == "ESGF" or "CMIP" in type %}
        <h1>{{ type.upper }}: 
            {%if option == "all" %}
                {{ option|title}}
            {%else%}
                {{ option }}
            {%endif%}
        </h1>
    {% else %}
        <h1>{{ type.title }}: {{ option }}</h1>
    {%endif%}
</div>

<hr>

<div id="citation-container" class="col-sm-9" style="display:none">
</div>

<div class="publication-container col-sm-9">

    <div class="row">
        <div class="col-md-2"><h4 id="year-heading" class="sortable">Year</h4></div>
        <div class="col-md-2"><h4 id="author-heading" class="sortable">Author</h4></div>
        <div class="col-md-8"><h4 id="title-heading" class="sortable">Title</h4></div>

    </div>

    {% if publications %}
        {% for publication in publications %}
            <div class="publication">
            <div class="row">
                <div class="dates col-md-2">{{ publication.publication_date|date:"Y" }} </div>
                <div class="authors col-md-2">{{ publication.get_authors }} </div>
                <div class="titles col-md-8">
                    {{ publication.title }}<br/>
                        (<a onclick="show_citation({{ publication.id }})" href="javascript:void(0)">Citation</a>)
                        (<a onclick="show_more_info({{ publication.id }})" href="javascript:void(0)">More Info</a>)
                        (<a onclick="show_abstract({{ publication.id }})" href="javascript:void(0)">Abstract</a>)
                        (<a onclick="show_bibtex({{ publication.id }})" href="javascript:void(0)">BibTex</a>)
                        <div id="citation{{ publication.id }}" style="display:none">empty</div>
                        <div id="more_info{{ publication.id }}"style="display:none">empty</div>
                        <div id="abstract{{ publication.id }}" style="display:none">empty</div>
                        <div id="bibtex{{ publication.id }}" style="display:none">empty</div>
                </div>


            </div>
            <hr>
                </div>
        {% endfor %}
        {% if scroll_link %}
            <a class="jscroll-next" href="{{scroll_link}}"></a>
        {% endif %}
    {% else %}
        <p>No publications found.</p>
    {% endif %}
</div>

<div id="facet-links-container" class="col-sm-3 well">
    <h5 class="text-center"> Publication Count: {{ total }}</h5>
    {% if type == 'search' %}
        <h5 class="text-center"> Returned Publications: {{ search_count }}</h5>
    {% elif type != 'all' %}
        <p class="text-center">
            <input class="radio-sort" type="radio" name="sort_by" value="alphabetical" checked> Name
            <input class="radio-sort" type="radio" name="sort_by" value=""> Count
        </p>
    {% endif%}
    {% if type == "all" %}
        <ul>
            {% for k, v in pages.items %}
                <li><a href="search?type={{ k }}"> {{ v }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <table class="table">
            {% for k, v in pages.items %}
<tr><td><a href="search?type={{ v.type }}&option={{ v.options }}">{{ v.options|capfirst }}</a></td><td>{{ v.count }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

<script type="text/javascript" src="/static/js/jscroll.min.js"></script>
<script type="text/javascript" src="/static/js/search.js"></script>

{% endblock %}