appnope==0.1.0
backports.shutil-get-terminal-size==1.0.0
decorator==4.0.10
Django==1.9.5
django-recaptcha==1.0.5
django-registration==2.0.4
django-widget-tweaks==1.4.1
fuzzywuzzy==0.11.0
gnureadline==6.3.3
ipython==4.2.1
ipython-genutils==0.1.0
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.2
ptyprocess==0.5.1
PyMySQL==0.7.5
python-Levenshtein==0.12.0
requests==2.9.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
