{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<link href="/static/css/form.css" rel="stylesheet">
{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post" class="account-form">
    {% csrf_token %}
    <h2>Create New Password</h2>
    <fieldset class="form-group">
    {% for field in form %}
    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {{ field|add_class:"form-control" }}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
            {{ field.errors }}
        </div>
        {% endif %}
    {% endfor %}
    </fieldset>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Change My Password" />
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}


