{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<link href="{% url 'search' %}static/css/form.css" rel="stylesheet">

<form id="change_form" action="." method="post" class="account-form">
    <h2>Change Password</h2>
    {% csrf_token %}
    <fieldset class="form-group">
        {% for field in form %}
        <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="password" class="form-control" name="{{ field.name }}" id="id_{{ field.name }}">
            <div class="help-text">{{ field.help_text|safe }} </div>
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
</form>
{% endblock %}