* {
    margin: 0;
}

html, body {
    height: 100%;
}

.content-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0em;
}

.footer, .push {
    height: 1em;
}

div.navbar-header>a.navbar-brand,
ul.nav.navbar-nav li a,
.nav.navbar-nav li ul li a{
    color: #2c4886;
}

div.navbar-header>a.navbar-brand:hover,
ul.nav.navbar-nav li a:hover,
.nav.navbar-nav li ul li a:hover{
    color: #3992c5
}

#nav-logo{
    display:inline-block;
    height:30px;
    margin-top:-5px
}
