* {
    margin: 0;
}

html, body {
    height: 100%;
}

.content-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 4em;
}

.push {
    height: 1em;
}

.footer {
    position: fixed;
    left: 0em;
    bottom: 0em;
    padding: 0.5em;
    height: auto;
    width: 100%;
    background-color: #e7e7e7;;
}

.footer p {
    margin: 0em;
}

div.navbar-header>a.navbar-brand,
ul.nav.navbar-nav li a,
.nav.navbar-nav li ul li a{
    color: #2c4886;
}

div.navbar-header>a.navbar-brand:hover,
ul.nav.navbar-nav li a:hover,
.nav.navbar-nav li ul li a:hover{
    color: #3992c5
}

#nav-logo{
    display:inline-block;
    height:30px;
    margin-top:-5px
}
