* {
margin: 0;
}
html, body {
height: 100%;
}
.content-wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -1em; /* Must be the same value as footer height (negative)*/
}
.footer, .push {
height: 1em; /* Must be the same value as margin height (positive)*/
}