#tabs .nav li a {
    outline: 0;
}
#meta-form {
    display: inline-block;
}
.meta-form-list {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-font {
    font-size: 12pt;
}

.form-error {
    border: 1px solid red;
}

.publication-input {
    display: block;
}

.margin-b {
    margin-bottom: 20px;
}

.required label::after {
    content: "*";
}

.hidden {
    display: none;
}

#id_model {
    display: table;
    width: 100%
}
#id_model li {
    display: table-row;
}

#id_model li label {
    display: table-cell;
    text-align: left;
}

#id_model li input {
    display: table-cell;
}

#model-ensemble-labels {
    width:100%;
}

#model-label {
    width:53%;
}
