#tabs .nav li a {
    outline: 0;
}
#meta-form {
    display: inline-block;
}
.meta-form-list {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-font {
    font-size: 12pt;
}

.form-error {
    border: 1px solid red;
}

.publication-input {
    display: block;
}

.margin-b {
    margin-bottom: 20px;
}

.required label::after {
    content: "*";
}

.hidden {
    display: none;
}

label{
    margin-bottom: 0;
}

#project-form > div.panel-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#project-form > div.panel-body > label{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px 10px
}


