#tabs .nav li a {
    outline: 0;
}
#meta-form {
    display: inline-block;
}
.meta-form-list {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-font {
    font-size: 12pt;
}

.form-error {
    border: 1px solid red;
}

.publication-input {
    display: block;
}

.margin-b {
    margin-bottom: 20px;
}

.required label::after {
    content: "*";
}

.hidden {
    display: none;
}

label{
    margin-bottom: 0;
}

#batch-alert-wrapper {
    top: -8px;
}

#batch-alert{
    margin-bottom: 0;
}

#project-form > div.panel-body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#project-form > div.panel-body > label{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 3px 10px
}

/* CSS that makes project meta tabs scrollable */
#meta-tabs .panel-heading{
    display: flex;
    justify-content: space-between;
}

#meta-tabs .panel-heading ul{
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

#meta-tabs .panel-heading label{
    display: inline-flex;
    margin-top: 5px;
    line-height: 30px;
    margin-left: 10px;
}

#meta-tabs .panel-heading label input{
    display: inline-flex;
    margin-left: 5px;
    line-height: 30px;
}

#meta-tabs .panel-heading li{
    width: 250px;
    margin-left: 5px;
}

@media screen and (min-height: 1050px) and (min-width: 992px) {
    .meta-form-list {
      height: 250px;
    }
  }
  
  @media screen and (min-height: 1150px) and (min-width: 992px) {
    .meta-form-list {
      height: 300px;
    }
  }
  
  @media screen and (min-height: 1250px) and (min-width: 992px) {
    .meta-form-list {
      height: 350px;
    }
  }
