#tabs .nav li a {
    outline: 0;
}
#meta-form {
    display: inline-block;
}
.meta-form-list {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.md-font {
    font-size: 12pt;
}

.form-error {
    border: 1px solid red;
}

.publication-input {
    display: block;
}