table td, table td * {
    vertical-align: top;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sortable {
    cursor: pointer;
}

.sortable:hover {
    background-color: #f2f2f2;
}
.sortable.ascending:after {
    content:"▲";
    font-size: small;
    margin-left: 2px;
}

.sortable.descending:after {
    content:"▼";
    font-size: small;
    margin-left: 2px;
}

.citation-bold {
    font-weight: bold;
}

.citation-italic {
    font-style: italic;
}

.search-wrapper{
    overflow: hidden;
}

#search-row h1{
    display: inline-block;
    margin-bottom: 0px;
}

#search-row button{
    margin-bottom: 17px;
}

