table td, table td * {
    vertical-align: top;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sortable {
    cursor: pointer;
}

.sortable.ascending:after {
    content:"▲";
    font-size: small;
    margin-left: 2px;
}

.sortable.descending:after {
    content:"▼";
    font-size: small;
    margin-left: 2px;
}
