log:
  level: INFO

accessLog:
  filePath: /var/log/traefik/access.log

entryPoints:
  web:
    # http
    address: ":80"

  web-secure:
    # https
    address: ":443"

providers:
  file:
    filename: /etc/traefik/dynamic.yml
    watch: true
