{% load widget_tweaks %}
<div class="panel panel-default">
    <div class="panel-heading"><span class="md-font">Author Details</span></div>
    <table id="author-form" class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Institution</th>
            <th>
                <a id="add_author" class="btn btn-xs btn-info " role="button" title="Add Author">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for form in author_form %}
        <tr class="author">
            {% for field in form.visible_fields %}
                {% if field.errors %}
                    <td>{{field|add_class:"form-error"}}</td>
                {% else %}
                    <td>{{field}}</td>
                {% endif %}
            {% endfor %}
            <td>
                <a class="btn btn-xs btn-danger author-delete" role="button" title="Delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
            {% for hidden in form.hidden_fields %}
                {{hidden}}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {{author_form.management_form}}
</div>
<script type="text/javascript" src="/static/js/typeahead.bundle.js"></script>
<script type="text/javascript" src="/static/js/autocomplete.js"></script>