{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %} Register {% endblock %}
{% block content %}
<link href="{% static 'css/form.css' %}" rel="stylesheet">
<img id="logo" class="img-responsive center-block" src="{% static 'img/Logo.png' %}" alt="Publication Hub">
{% if registered%}
<h2>Thank You For Registering</h2>
{% else %}
<form id="user_form" action="." method="post" class="account-form">
    <h2>Create An Account</h2>
    {% csrf_token %}
    <fieldset class="form-group">
    {% for field in form %}
        {% with attr="form-control" %}
            <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            {{ field|add_class:"form-control" }}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{ field.errors }}
            </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
    </fieldset>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
</form>

{% endif %}
{% endblock %}

